*.elc
*~
\#*\#
\.\#*
.smex-items
/devel/
/elpa/
ac-comphist.dat
archive/
autoloads.el
backups/
compile.log
cus-dirs.el
data-alt/
data-dev/
data/
ede-projects.el
emms/
eshell/
ido.last
info/
mirror
places
places/
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
url/